
.board {
    display: grid;
    gap: 2px; 
    border: 2px solid #666;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
    width: 100%; 
    max-width: 750px; 
  }
  
  @media (max-width: 768px) {
    .board {
      max-width: 100%; 
      grid-template-columns: repeat(auto-fit, minmax(5px, 1fr)); 
    }
  }
  