/* components/Cell.css */
.cell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }
  
  .cell-unselected {
    background-color: #add8e6;
  }
  
  .cell-safe {
    background-color: #b0c4de;
    color: green;
    cursor: default;
  }
  
  .cell-bomb {
    background-color: #ffcccc;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
  }
  